# Basic requirements
pyspark>=3.4.1
numpy
pandas
pyarrow>=4.0.0  # for pandas_udf

# For plotting utilities
matplotlib
seaborn

# For tests
pytest
pytest-cov

# For docs
wheel
mkdocs-material
mkdocs-git-revision-date-localized-plugin

# For development only
ipython
jupyter
ipdb
