# Basic requirements
pyspark>=3.4.1
setuptools  # needed for python 3.12+; installed by default on python 3.11-
numpy
pandas
pyarrow>=4.0.0  # for pandas_udf

# For plotting utilities
matplotlib
seaborn

# For tests
pytest
pytest-cov

# For docs
mkdocs-material
mkdocs-git-revision-date-localized-plugin
mkdocstrings-python
mike

# For development only
ipython
jupyter
ipdb
